body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

header,
footer {
  background: var(--color-bg-soft);
}

header {
  border-bottom: 1px solid var(--color-border);
}

footer {
  border-top: 1px solid var(--color-border);
}

main {
  flex: 1;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.1rem;
}

/* h1,
h2,
h3 {
  margin-bottom: var(--space-3);
  font-weight: 600;
} */

p {
  color: var(--color-muted);
}

a {
  border-bottom: 2px solid transparent;
  color: var(--color-primary);
  transition:
    border-bottom-color 0.2s ease,
    color 0.2s ease;
}

a:hover {
  color: var(--color-dark-primary);
  border-bottom: 2px solid var(--color-dark-primary);
}
