fieldset {
  display: grid;
  gap: var(--space-2);
}

label {
  color: var(--color-muted);
}

input {
  padding: var(--space-3) var(--space-6);
}

select {
  padding: var(--space-2) var(--space-4);
}

input,
select {
  border-radius: var(--radius-md);
  border: 2px solid var(--color-border);
  background: var(--color-bg);
  color: var(--color-text);

  transition:
    border-color 0.2s ease,
    box-shadow 0.25s ease;
}

/* mobile fixes */
input[type="text"],
input[type="email"],
input[type="password"] {
  /* Убираем стандартную моб. подсветку */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow:
    0 0 0 2px rgba(0, 112, 243, 0.25),
    inset 0 0 0 1000px var(--color-bg);

  -webkit-text-fill-color: var(--color-text);
  caret-color: var(--color-text);
}

input:hover,
input:focus,
select:hover,
select:focus {
  outline: none;
  border-color: var(--color-primary);

  box-shadow:
    0 4px 8px rgba(37, 99, 235, 0.3),
    0 8px 16px rgba(37, 99, 235, 0.25),
    0 12px 30px rgba(37, 99, 235, 0.2);

  /* Принудительный фон при фокусе, чтобы не было желтого на моб. */
  background-color: var(--color-bg);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
}

.checkbox {
  width: var(--font-size-input);
  height: var(--font-size-input);
  accent-color: var(--color-primary);
  cursor: pointer;
}

.checkbox:hover,
.checkbox:focus {
  transform: scale(1.1);
}

.checkbox:disabled {
  transform: scale(1);
}

.label-checkbox {
  font-size: var(--font-size-sm);
  color: var(--color-muted);
  cursor: pointer;
}

.label-disabled {
  opacity: 0.5;
  cursor: default;
}

.form-loading {
  border: 2px solid var(--color-loading);
  border-radius: var(--radius-md);
  padding: var(--space-4);
  animation: pulseBorder 1.2s ease-in-out infinite;
}

input:disabled,
select:disabled {
  cursor: default;
  opacity: 0.65;
  background: var(--color-bg);
  border-color: var(--color-border);
  box-shadow: none;
  transform: none;
}

.passwordField {
  position: relative;
  width: 100%;
}

.passwordField input {
  width: 100%;
}

.category-block {
  opacity: 0;
  transform: translateY(4px);
  pointer-events: none;
  transition: 0.2s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 rgba(148, 163, 184, 0.2);
  }
  50% {
    box-shadow: 0 0 12px rgba(148, 163, 184, 0.45);
  }
  100% {
    box-shadow: 0 0 0 rgba(148, 163, 184, 0.2);
  }
}
