.logo {
  font-weight: 700;
  font-size: 20px;
}

.drawerList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.drawerList li a {
  display: block;
  width: 100%;
}
