.button {
  background: var(--color-bg);
  color: var(--color-text);
  padding: var(--space-3) var(--space-5);
  border-radius: var(--radius-lg);
  font-weight: 500;
  border: 2px solid transparent;
  cursor: pointer;
  transform: translateY(0);
  box-shadow:
    0 2px 4px rgba(37, 99, 235, 0.2),
    /* маленькая мягкая */ 0 4px 8px rgba(37, 99, 235, 0.15),
    /* средняя */ 0 6px 20px rgba(37, 99, 235, 0.1); /* большая размытая */

  transition:
    border 0.2s,
    transform 0.4s ease,
    box-shadow 0.15s ease;
}

.button:hover,
.button:focus-visible {
  outline: none;
  transform: translateY(-1px);
  box-shadow:
    0 4px 8px rgba(37, 99, 235, 0.3),
    0 8px 16px rgba(37, 99, 235, 0.25),
    0 12px 30px rgba(37, 99, 235, 0.2);
  border: 2px solid var(--color-primary);
}

.button:active {
  box-shadow:
    0 1px 2px rgba(37, 99, 235, 0.2),
    0 2px 4px rgba(37, 99, 235, 0.15),
    0 4px 14px rgba(37, 99, 235, 0.1);
}

.closeButton {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  z-index: 10;
}

.button:disabled {
  cursor: default;
  opacity: 0.6;
  box-shadow: none;
  transform: none;
  border: 2px solid transparent;
}

.button:disabled:hover,
.button:disabled:focus-visible,
.button:disabled:active {
  transform: none;
  box-shadow: none;
  border: 2px solid transparent;
}

.togglePassword {
  position: absolute;
  right: var(--space-1);
  top: var(--space-1);
  font-size: var(--font-size-xl);
  padding: 0 var(--space-1);
  border-radius: 50%;
}

.togglePassword:hover {
  transform: translateY(0);
}
