:root {
  --color-bg: #f9fafb;
  /* --color-surface: #ffffff; */
  --color-text: #1f2933;
  --color-muted: #6b7280;
  --color-accent: #3b82f6;
  --color-border: #e5e7eb;
  --color-primary: #2563eb;
  --color-dark-primary: #214fab;
  --color-bg-soft: #f3f4f6;
  --color-loading: rgba(235, 37, 100, 0.6);
}

/* --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-text: #1f2933;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;
  --color-primary: #2563eb;
  --color-primary-dark: #214fab;
  --color-bg-soft: #f3f4f6;
  --color-loading: rgba(235,37,100,.6); */
