[data-theme="dark"] {
  --color-bg: #0f172a;
  /* --color-surface: #020617; */
  --color-text: #e5e7eb;
  --color-muted: #9ca3af;
  --color-border: #1e293b;
  --color-primary: #3b82f6;
  --color-bg-soft: #020617;
}
