:root {
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 27px;

  --font-size-label: 13px;
  --font-size-input: 16px;
}
